# ---------- #
# Fish Shell #
# ---------- #
# This is an example of a .env file for the Fish shell.
# Base URL for accessing the Marvel API
set -x MARVEL_BASE_URL ""

# Public key for accessing the Marvel API (you get this when you register)
set -x MARVEL_PUB_KEY ""

# API hash (also part of the authentication for Marvel API)
set -x MARVEL_API_HASH ""

# Timestamp used for making API requests (usually in the form of a number or timestamp string)
set -x MARVEL_URL_TIMESTAMP ""

# Base URL for fetching images
set -x IMAGE_BASE_URL ""

# The size of the backdrop images (e.g., "original", "w300")
set -x BACKDROP_SIZE ""

# The size of the poster images (e.g., "original", "w500")
set -x POSTER_SIZE ""

# -------------- #
# Bash/ZSH Shell #
# -------------- #
# This is an example of a .env file for the Bash shell.
# Base URL for accessing the Marvel API
MARVEL_BASE_URL=""

# Public key for accessing the Marvel API (you get this when you register)
MARVEL_PUB_KEY=""

# API hash (also part of the authentication for Marvel API)
MARVEL_API_HASH=""

# Timestamp used for making API requests (usually in the form of a number or timestamp string)
MARVEL_URL_TIMESTAMP=""

# Base URL for fetching images
IMAGE_BASE_URL=""

# The size of the backdrop images (e.g., "original", "w300")
BACKDROP_SIZE=""

# The size of the poster images (e.g., "original", "w500")
POSTER_SIZE=""
